<%- include('partials/header'); -%>

<form action="" method="post">
  <h2>Log In</h2>
  <ul>
    <li>
      <label for="email">E-mail</label>
      <input type="text" name="email" id="email" required />
      <div class="email error"></div>
    </li>
    <li>
      <label for="password">Password</label>
      <input type="password" name="password" id="password" required />
      <div class="password error"></div>
    </li>
    <button>Log In</button>
  </ul>
</form>

<script>
  const form = document.querySelector('form');
  const emailError = document.querySelector('.email.error');
  const passwordError = document.querySelector('.password.error');

  form.addEventListener('submit', async (e) => {
    try {
      e.preventDefault();

      const response = await fetch('/login', {
        headers: { 'Content-Type': 'application/json' },
        method: 'post',
        body: JSON.stringify({
          email: form.email.value,
          password: form.password.value,
        }),
      });
      const result = await response.json();
      console.log(result);
      if (result.hasOwnProperty('user')) window.location = '/';
      if (result.hasOwnProperty('errors')) throw result;
    } catch (error) {
      emailError.textContent = error.errors.email;
      passwordError.textContent = error.errors.password;
    }
  });
</script>
<%- include('partials/footer'); -%>
