<%- include('partials/header'); -%>

<form action="" method="post">
  <h2>Sign Up</h2>
  <ul>
    <li>
      <label for="email">E-mail</label>
      <div class="email error"></div>
      <input type="text" name="email" id="email" required autocomplete="off" />
    </li>
    <li>
      <label for="password">Password</label>
      <div class="password error"></div>
      <input
        type="password"
        name="password"
        id="password"
        required
        autocomplete="off"
      />
    </li>
    <button>Sign Up</button>
  </ul>
</form>

<script>
  const form = document.querySelector('form');
  const emailError = document.querySelector('.email.error');
  const passwordError = document.querySelector('.password');

  form.addEventListener('submit', async (e) => {
    try {
      e.preventDefault();

      emailError.textContent = '';
      passwordError.textContent = '';
      const response = await fetch('/signup', {
        headers: {
          'Content-Type': 'application/json',
        },
        method: 'post',
        body: JSON.stringify({
          email: form.email.value,
          password: form.password.value,
        }),
      });
      const result = await response.json();

      if (result.hasOwnProperty('errors')) throw result;
      if (result.hasOwnProperty('user')) window.location = '/';
    } catch (error) {
      emailError.textContent = error.errors.email;
      passwordError.textContent = error.errors.password;
    }
  });
</script>
<%- include('partials/footer'); -%>
